/* Andrey Aleksandrov 0447608 */

* {
	font-family: "Manuale", serif;
}

.inputcontainer {
	width: 100%;
	display: flex;
	position: relative;
}

.inputcontainer > input {
	font-size: 20px;
	display: inline-flex;
	flex-grow: 100;
	border: 1px #ccc;
	box-shadow: 0 2px 3px gray;
	margin: 2px 10px;
}

.inputcontainer > button {
	font-size: 20px;
	display: inline-flex;
	box-shadow: 0 2px 3px gray;
	margin: 2px 5px;
}

.userinfo {
	border-radius: 7px;
	margin: 10px;
	font-size: 14px;
}

.userinfo > button {
	box-shadow: 0 1px 8px #ccc;
	font-size: 16px;
	border: 0px;
	background: white;
	margin-left: 20px;
}

.userinfo > button:hover {
	box-shadow: 0 1px 14px #666;
}


.loginControl {
	width: 250px;
	height: 250px;
	text-align: center;

	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 20px;
	display: inline-block;
	flex-grow: 100;
	border: 1px #ccc;
	box-shadow: 0 2px 3px gray;
	margin: -125px 0 0 -125px;
	font-size: 14px;
}

.loginControl > input {
	font-size: 20px;
	display: inline-flex;
	flex-grow: 100;
	border: 1px #ccc;
	box-shadow: 0 2px 3px gray;
	margin: 4px 10px;
}

.loginControl > button {
	font-size: 14px;
	display: inline-block;
	box-shadow: 0 2px 3px gray;
	margin: 5px 5px 0 5px;
}

.loginControl > p:first-child {
	font-size: 24px;
	margin: 20px 0 10px 0;
}

.listItem {
	transition: height 0.4s linear 0.4s;
	animation: fade 0.4s;
	font-size: 1.25em;
	box-shadow: 0 2px 8px gray;
	margin: 10px;
	padding: 0.25em;
	vertical-align: center;
	border-radius: 7px;
}

.listItem:hover {
	box-shadow: 0 2px 4px red;
}